body{
    margin: 0;
}

main{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #14abcd;
}
#price-list{
    width: 90%;
    height: 500px;
    border: 1px solid black;
    display: flex;
}

.product-cards{
    width: 250px;
    height: 150px;
    border: 1px solid black;
}

